        :root {
            --color-background: hsl(240, 8%, 9%);
            --color-widget-background: hsl(240, 8%, 10%);
            --color-widget-background-highlight: hsl(240, 8%, 14%);
            --color-separator: hsl(240, 8%, 13%);
            --color-widget-content-border: hsl(240, 8%, 13%);
            --color-primary: hsl(43, 50%, 70%);
            --color-text-highlight: hsl(240, 8%, 85%);
            --color-text-base: hsl(240, 8%, 58%);
            --color-text-subdue: hsl(240, 8%, 35%);
            --border-radius: 5px;
            --font-family: 'JetBrains Mono', monospace;
        }

        @media (prefers-color-scheme: light) {
            :root {
                --color-background: hsl(0, 0%, 98%);
                --color-widget-background: hsl(0, 0%, 100%);
                --color-widget-background-highlight: hsl(0, 0%, 96%);
                --color-separator: hsl(0, 0%, 90%);
                --color-widget-content-border: hsl(0, 0%, 85%);
                --color-primary: hsl(43, 70%, 55%);
                --color-text-highlight: hsl(0, 0%, 10%);
                --color-text-base: hsl(0, 0%, 40%);
                --color-text-subdue: hsl(0, 0%, 65%);
            }
        }


        body.light-theme {
            --color-background: hsl(0, 0%, 98%);
            --color-widget-background: hsl(0, 0%, 100%);
            --color-widget-background-highlight: hsl(0, 0%, 96%);
            --color-separator: hsl(0, 0%, 90%);
            --color-widget-content-border: hsl(0, 0%, 85%);
            --color-primary: hsl(43, 70%, 55%);
            --color-text-highlight: hsl(0, 0%, 10%);
            --color-text-base: hsl(0, 0%, 40%);
            --color-text-subdue: hsl(0, 0%, 65%);
        }

        body.dark-theme {
            --color-background: hsl(240, 8%, 9%);
            --color-widget-background: hsl(240, 8%, 10%);
            --color-widget-background-highlight: hsl(240, 8%, 14%);
            --color-separator: hsl(240, 8%, 13%);
            --color-widget-content-border: hsl(240, 8%, 13%);
            --color-primary: hsl(43, 50%, 70%);
            --color-text-highlight: hsl(240, 8%, 85%);
            --color-text-base: hsl(240, 8%, 58%);
            --color-text-subdue: hsl(240, 8%, 35%);
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html,
        body {
            height: 100%;
            overflow: hidden;
        }

        body {
            font-family: var(--font-family);
            background-color: var(--color-background);
            color: var(--color-text-base);
            font-size: 14px;
        }